body {
  margin: 0;  
  padding: 0;
  font-family: Roboto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#0054A4;
  align-items:center;
}
a {
  text-decoration:none;
  color:white;
  font-size:24px;
  transition: 0.5s;
}
nav {
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:35%;
  justify-self:center;
}
nav > a:hover {
transform: scale(1.1);
}
#Profile {
  color:white;
  display:flex;
  justify-content:space-around;
  font-size:24px;
}
h1 {
  font-size: 58px;
  font-weight: 800; 
  color: #18355F;
}
h2 {
  font-size: 40px;
}
main > section {
  background-color: white;
  box-shadow: 0px 4px 8px rgb(85, 85, 85);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
main {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
  padding: 20px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 65%; 
  width:1190px;
  align-self:center;
  border-radius: 2rem;
  gap: 1.5rem;
  padding: 1.6rem;
  height: 80vh;
}
.card, .card3,.card4 {
  display:flex;
  flex-direction:column;
  background-color: rgb(253, 253, 253);
  border-radius: 24px;
  padding-left: 1.5rem;
  padding-bottom: 1.6rem;
  box-shadow: 0px 2px 10px #b1b1b1;
}


/* Career & Income box*/
.H2boxe1 {
  padding-left: 1vh;
  margin-bottom: 0;

}
#income {
  margin-top: 1vh;
  padding-left: 6vh;
}
#income select {
  padding: 1vh;
  margin-left: 10%;
  border-radius: 1.6vh;
  color: black;
  font-size: 2vh;
  font-weight: bolder;
  margin-bottom: 2vh;
}
.salarytext {
  padding-left: 8vh;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 auto;
}
#Salary {
  padding-left: 15vh;
  margin: 0;
  font-size: 34px;

}


/* Tax Deductions */
.H2boxe2 {
align-self: center;
margin-right: 5vh;
margin: 0;
margin-top: 2vh;
}
.TaxTable {
  margin: 0;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.row p {
  margin: 0;
  margin-right: 2vh;
  padding: 0.3vh;
  color: #18355F;
  font-size: 18px;
  font-weight: bolder;
}
.row p:last-child {
  color: red;
}
#FinalNet {
  margin: 0;
  margin-top: 0.2vh;
  margin-right: 2vh;
  padding: 0.3vh;
  align-self: center;
  font-size: 34px;
  font-weight: bolder;
}
/* Montly expense list */
.firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.firstrow h2 {
  margin: 0;
}
.firstrow span {
  cursor: pointer;
  user-select: none;
  margin: 2vh;
  font-size: 6vh;
  transition: 0.2s;
  color: #7B8493;
}
.firstrow span:hover {
  transform: scale(1.1);
  color: #3e434b;
}
#MonthlyIncome {
  margin: 0;
  padding: 0;
  font-size: 2.5vh;
  font-weight: bolder;
  color: #75787D;
  margin-bottom: 2vh;
}
#Expenses-Table {
  list-style: none;
  padding: 0;
  margin: 0;
}
#Expenses-Table li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-right: 2vh;
  margin-bottom: 2vh;
}
#Expenses-Table li > label {
  font-size: 2.4vh;
  color: #18355F;
  font-weight: bolder;
}
#Expenses-Table li > input {
  border-radius: 1vh;
  border: 0.3vh solid lightgray;
  padding: 0.3vh;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.card3 {
  overflow: visible;
  overflow-y: auto;
}
.right-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.Deletebtn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  transition: 0.2s;
  padding-left: 0.7vh;
 
}
.Deletebtn:hover {
  transform: scale(1.5);
}
.expense-input {
  border-radius: 1vh;
  border: 0.3vh solid lightgray;
  padding: 0.3vh;
  font-size: 15px;
}
/*Monthly Budget Breakdown*/

.card4 {
  display: flex;
  align-items: center;
}
.H2card4 {
  margin: 0;
  margin-top: 2vh;
  margin-right: 3vh;
  text-align: center;
}
.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 75%;
  width: 75% ;
}

.Remainingmoney {
  margin: -6vh;
  text-align: center;
  padding-right: 3vh;
  font-size: 40px;
  font-weight: bolder;
}
#Remaining-money {
 margin-top: 7vh;
 text-align: center;
 margin-right: 7vh;
 font-size: 40px;
 font-weight: bold;
 color: green; 
}
/* Tip*/
#wise {
  display: flex;
  justify-content: center;
  margin-left: 18%;
  margin-right: 18%;
  padding: 20px;
  background-color: #FFBABA;
  border-radius: 24px;
  text-align: center;
  font-size: 2.2vh;
}


/*Footer*/
/* width: 100%; */
footer {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  gap:10px;
  background-color:#0054A4;
  margin-top: 10%;
  padding-right: 5vh;
}
.links > ul > li {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  list-style: none;
  padding-top: 5vh;
  margin-bottom: 2vh;
}
.links > ul > li > a {
  font-family: sans-serif !important; 
  font-size: 2vh;
  font-weight: bolder;
}

footer > div > img {
  display: flex;
  justify-content: center;
  border: none;
  padding-top: 5vh;
  margin-right: 15vh;
}  
  
#header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:#0054A4;
  align-items:center;
  padding-left: 100px;
  
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  /*NAV*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  header > figure > img {
    width: 9vh;
    padding-right: 1vh;
    position: relative;
    right: 3.5vh;
  }
  nav {
    gap: 20px;
    display: flex;
    padding-right: 5vh;
    
  }
  nav > a {
    position: relative;
    right: 5.5vh;
    font-size: 18px;
    margin-right: 2vh;
  }
  #Profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-right: -10vh;
  }
  #Profile img {
    width: 4vh;
    margin-right: 1vh;
  }
  /* Main */
  #header-main {
    position: relative;
    right: 3vh;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .cards {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
  }
  #careerDrop {
    position: relative;
    right: 7.5vh;
  }
  .salarytext {
    position: relative;
    right: 5vh;
    padding: 0;
    text-align: center;
  }
  #Salary {
    position: relative;
    right: 10vh;
  }
  h2 {
    font-size: 30px;
  }
  .H2boxe2 {
    position: relative;
    right: 2vh;
    margin-bottom: 2vh;
  }
  #Remaining-money {
    position: relative;
    left: 2vh;
  }
  #wise {
    position: relative;
    right: 2.3vh;
    padding: 5vh;
    text-align: center;
    width: 25vh;
  }
  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .links > ul > li > a {
    text-align: center;
    margin-bottom: 1vh;
  }
  footer > div {
    display: flex;
    justify-content: center;
  }
  footer > div > img {
    margin: 0;
    padding: 0;
  }
}