body{
  margin: 0;  
  padding: 0;
  font-family: Roboto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#0054A4;
  align-items:center;
}
a{
  text-decoration:none;
  color:white;
  font-size:24px;
}
nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:35%;
  justify-self:center;
}
#Profile{
  color:white;
  display:flex;
  justify-content:space-around;
  font-size:24px;
}
/* Main content*/
main > section {
  background-color: white;
  box-shadow: 0px 4px 8px rgb(85, 85, 85);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
main {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
  padding: 20px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 30% 65%; 
  background-color:#CCDEF6;
  width:1190px;
  align-self:center;
  border-radius: 2rem;
  gap: 1.5rem;
  padding: 1.5rem;
  height: 782px;
  box-shadow: 0px 4px 8px rgb(175, 175, 175);
}
.card{
  display:flex;
  flex-direction:column;
  background-color: rgb(253, 253, 253);
  border-radius: 24px;
  padding: 1.5rem;
  box-shadow: 0px 4px 8px rgb(182, 182, 182);
}

h1 {
  font-size: 58px;
  font-weight: 800; 
  color: #18355F;
}
/* Summer Gap Savings */

.Outerbar {
  height: 20px;
  background-color: lightgray;
  border-radius: 24px;
  width: 100%;
}

#innerbar {
  width: 0%;
  height: 100%;
  background-color: green;
  border-radius: 24px;
}
/*In-hand salary*/
.group-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  border: 0.3vh solid #D0D0D0;
  margin-bottom: 5vh;
  padding: 2vh;
  height: 15vh;
  border-radius: 1.6vh;
  box-shadow: 0 4px 4px lightgray;
}
.label {
  margin: 0;
  padding: 0;
  margin-top: 1vh;
  font-size: 27px;
  font-weight: bolder;
  color: #75787D;
}
.group-boxes p:last-child {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 1vh;
  color: #75787D;
}
.group-boxes:last-child {
height: 15vh;
margin-top: 1vh;
}
/* Recent Transaction */
.Transaction {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.Name {
  display: flex;
  flex-direction: column;         
}

.store-name {
  font-weight: bolder;
  font-size: 24px;
  color: #1a2b4c;
}

.date {
  color: #888;
  font-size: 20px;
  margin: 0;
}

.price {
  font-weight: bold;
  font-size: 24px;
  color: red;
}
/*Footer*/
/* width: 100%; */
footer {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  gap:10px;
  background-color:#0054A4;
  margin-top: 10%;
  padding-right: 5vh;
}
.links > ul > li {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  list-style: none;
  padding-top: 5vh;
  margin-bottom: 2vh;
}
.links > ul > li > a {
  font-family: sans-serif !important; 
  font-size: 2vh;
  font-weight: bolder;
}

footer > div > img {
  display: flex;
  justify-content: center;
  border: none;
  padding-top: 5vh;
  margin-right: 15vh;
}  


#header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:#0054A4;
  align-items:center;
  padding-left: 100px;
}





/* ---------------Media For phones -------------------------*/

@media screen and (max-width: 600px) {
    body {
      margin: 0;
      padding: 0;
    }
    header > figure > img {
      width: 10vh;
      padding-right: 0.5vh;
    }
    nav {
      gap: 10px;
      
    }
    nav > a {
      font-size: 15px;
    }
    #Profile {
      font-size: 5px;
    }
    
}
